---
layout: conditional-page
title: Posts by Categories
---

<ul class="tags">
    {% assign sortedCategories = site.categories | sort %}
    {% for categories in sortedCategories %}
    <li>
        <a href="#{{ categories[0] | slugify }}">{{ categories[0] }}</a>
    </li>
    {% endfor %}
</ul>
<hr/>
{% assign sortedCategories = site.categories | sort %}
{% for categories in sortedCategories %}
<h4 id="{{ categories[0] | slugify }}" class="anchor-container">
    <a href="#{{ categories[0] | slugify }}"><i class="link fa fa-sm fa-link"></i></a>
    {{ categories[0] }}
</h4>
<section class="recent-posts">
    <div class="row listrecent">
        {% for post in categories[1] %}
        {% include postbox.html %}
        {% endfor %}
    </div>
</section>
{% endfor %}
