---
layout: page
title: Posts by Tags
---

<ul class="tags">
    {% assign sortedTags = site.tags | sort %}
    {% for tags in sortedTags %}
    <li>
        <a href="#{{ tags[0] | slugify }}">{{ tags[0] }}</a>
    </li>
    {% endfor %}
</ul>
<hr/>
{% assign sortedTags = site.tags | sort %}
{% for tags in sortedTags %}
<h4 id="{{ tags[0] | slugify }}" class="anchor-container">
    <a href="#{{ tags[0] | slugify }}"><i class="link fa fa-sm fa-link"></i></a>
    {{ tags[0] }}
</h4>
<section class="recent-posts">
    <div class="row listrecent">
        {% for post in tags[1] %}
        {% include postbox.html %}
        {% endfor %}
    </div>
</section>
{% endfor %}
