// Original code taken with permission from : https://github.com/dwilliamson/donw.io/blob/master/public/css/main.css

#gh-comments {
  text-align: center;
}

#gh-comment {
  text-align: left;
  background-color: #FFFFFF;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  margin: 2.5em 0;
}

.gh-comment-header {
  background-color: #f6f8fa;
  padding: 15px;
}

.gh-comment-body {
  padding: 15px;
}

#gh-comment-hr {
  border-top: inset 1px white;
}

#gh-comment p {
  margin: 0px;
}

#gh-comment img {
  display: inline;
  vertical-align: middle;
  margin: 2px 10px 2px 2px;
}