---
layout: default
---

<!--Count total posts-->
{% assign totalPostCount = 0 %}
{% for item in site.posts %}
{% unless item.published == false %}
{% assign totalPostCount = totalPostCount | plus:1 %}
{% endunless %}
{% endfor %}

{% if totalPostCount != 0 %}
<section>
    <div class="section-title">
        <h2><span>{{ page.title }}</span></h2>
    </div>

    {{content}}

    {% if page.comments == true %}

    <div id="comments" class="row mb-5">
        <div class="col-md-12">
            {% include github-comments.html %}
        </div>
    </div>

    {% endif %}

</section>
{% else %}
<h3>Oops. No posts are published yet</h3>
<h5>New posts will be published soon. Please check back later</h5>
{% endif %}
